<!DOCTYPE html>
<html>
    <head>
        <title>My web page</title>
    </head>
    <body>
        <h1>Hello, world!</h1>
        <p>This is my first web page.</p>
        <p>It contains a 
             <strong>main heading</strong> and <em> paragraph </em>.
        </p>
        <table>
            <th>S.No</th>
            <th>Name</th>
            <th>Date</th>
            <tbody>
                <tr><td>1</td><td>Athirai</td><td>Today</td></tr>
            </tbody>
        </table>
    </body>
</html>
